html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.container {
    max-width:95%;
    padding: 15px;
    margin:0 auto;
}

header {
    background-color: rgba(81,	94, 99, 0.5);
    height:70px;
    width:100%;
    border:none;
    position:fixed;
    top:0;
    z-index:10;
}

.header-logo {
    padding: 10px;
    float:left;
    font-size:20px;
}

.header-list {
    padding: 0px 0px;
    list-style: none;
    float: right;
}

header li {
    float:left;
    padding: 10px 30px;
}

.header-list a {
    color:white;
    text-decoration: none;
}

.top-wrapper {
    background-color: grey;
}

.beranda {
    background-image: url(cover.jpg);
    background-size: cover;
    text-align: center;
    color:white;
    height: 750px;
}



.beranda .judul h1 {
    margin-top: 100px;
    font-size: 64px;
}
.beranda .judul h3 {
    font-size: 18;
    margin-bottom: 0px;
    font-weight: normal;

}

.beranda .macam-potensi .list-potensi p {
    margin-top: 10px;
    font-size: 25px;
}

.tentang h3 {
    border-bottom:2px solid #57837B;
    padding-bottom:50px;
    margin-bottom:50px;
    font-size:28px;
    text-align: center;
    color:#515E63;
    padding-top:50px;
    margin-top:25px;
    font-weight: normal;
}

.tentang h1 {
    margin-bottom: 50px;
}

.tentang p {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 75px;
    padding-right: 50px;
    font-size: medium;
}

.tentang {
    color: #515E63;
    text-align: center;
    background-color: #C9D8B6;
    height: 780px;
    padding-bottom: 50px;
}

.pilihan-desa {
    color:black;
}

.pilihan-desa h3 {
    border-bottom:2px solid #dee7ec;
    padding-bottom:50px;
    margin-bottom:50px;
    font-size:28px;
    text-align: center;
    color:black;
    padding-top:50px;
    margin-top:25px;
    font-weight: normal;
}

.daftar-desa {
    height: 200px;
    width: 100%;
    background-color:rgba(202, 202, 202, 0.5);
    border-radius: 45px;
    
}

.daftar-desa:hover {
    background-color:rgba(202, 202, 202, 0.8);
    transition: 0.5s;
}

.daftar-desa img {
    padding: 25px 25px;
    width: 200px;
    height: 200px;
    float: left;
    border-radius:50px;
    
}

.daftar-desa ul {
    padding-top: 40px;
}

.daftar-desa li {
    font-size: 30px;
    list-style-type: none;
    
}

.potentional {
    width:33%;
    padding: 20px 30px;
    float:left;
}

.potentional p {
    font-weight: bold;
    padding-top: 0px;
    font-size: 25px;
    font-weight: lighter;
}

#animContainer {
    width: 100%;
}

#animContainer2 {
    width: 100%;
}

#animContainer3 {
    width: 100%;
}

.potentionals {
    text-align: center;
}

#animContainer4 {
    text-align: center;
    width: 25%;
    margin:0 auto;
}



.daftar-desa a {
    padding-right: 50px;
    float: right;
    color: black
}

footer h2 {
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    font-weight: normal;
    background-color: #C9D8B6;
}